link rel="stylesheet" type="text/css" href="/css/index.css"
main
  h1 Arch Configuration Script
  article
    p
      | ACS is a script made to run just after a minimal arch installation to
        install and configure the programs required for my setup. The programs
        and their respective dotfiles will be hosted on a github repository and
        the script itself will be hosted on this website for a short url to
        give curl.

  article
    h2 Design Philosophy
    p
      | I want the fully configured environment to be minimalistic but
        polished. No more programs than what's required, but those programs will
        be fully configured for a smooth experience. The config is made by me
        and for me, but I still want there to be a shallow learning curve for
        learning my setup. Some software will be custom made by me, such as the
        "Quick Launcher" program. All of these are programs that reduce the
        friction between me and my computer. Executing an action should be as
        easy as thinking of the action. No more, no less.

