@import 'vars';

body {
    margin: 0;
    padding: 0;
    background-color: $dark-bg;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    margin: 0;
    padding: 1.5em;
    background-color: $dark-bg2;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0px -3px 5px 5px #000022aa;

    p {
        font-family: $header-font;
        font-size: 30px;
        color: $dark-fg;
        margin: 0;
        display: inline-block;
    }

    p:hover {
        color: $accent2;
    }
    
    div.nav_link {
        display: inline-block;
        margin-right: 1em;
    }

    div.divider {
        margin-left: auto;
    }

    a {
        font-style: normal;
    }
}

.content {
    flex: 1 0 auto;
}

footer {
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 10%;
    padding-right: 10%;
    margin: 0;
    margin-top: 5em;

    background-color: #21212C;
    box-shadow: 0px 3px 5px 5px #000022aa;

    flex-shrink: 0;

    h1, h2, h3, h4, h5, h6 {
        text-align: center;
        color: #aaaaaa;
    }

    ul {
        list-style: none;
        display: flex;
        justify-content: space-around;
        align-items: center;

        margin-bottom: 5em;

        li {
            display: inline;
        }
    }

    p {
        text-align: right;
        color: #666666;
    }
}

h1 {
    font-family: $header-font;
    font-weight: 400;
    font-size: 40px;
    color: $accent1;
}

h2 {
    font-family: $header-font;
    font-weight: 400;
    font-size: 34px;
    color: $accent1;
}

h3 {
    font-family: $header-font;
    font-weight: 400;
    font-size: 32px;
    color: $accent1;
}

h4 {
    font-family: $header-font;
    font-weight: 400;
    font-size: 28px;
    color: $accent1;
}

h5 {
    font-family: $header-font;
    font-weight: 400;
    font-size: 24px;
    color: $accent1;
}

h6 {
    font-family: $header-font;
    font-weight: 400;
    font-size: 20px;
    color: $accent1;
}

p {
    font-family: $text-font;
    font-weight: 400;
    font-size: 16px;
    color: $dark-fg;
}

td {
    font-family: $text-font;
    font-weight: 400;
    font-size: 16px;
    color: $dark-fg;
}

td.left {
    width: 70%;
}

td.right {
    width: 30%;
    text-align: right;
}

tr.odd > td {
    color: #bbbbbb;
}

a {
    color: inherit;
    font-style: italic;
}

a:hover {
    color: $accent2;
}

div.indent1 {
    margin-left:  2%;
    margin-right: 2%;
}

div.hover_up {
    transition: transform 0.2s ease-in-out;
}

div.hover_up:hover {
    transform: translateY(-0.3em);
}

div.hbar {
    width: 25em;
    margin-top: -0.5em;
    display: inline-box;
    border-bottom: 1px solid white;
}

li {
    font-family: $text-font;
    font-weight: 400;
    font-size: 16px;
    color: $dark-fg;
}

.em {
    font-style: italic;
}

.title {
    padding-top: 2em;
    h1, h2, h3, h4, h5, h6 {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
}

.blog_post {
    margin-left: 15vw;
    margin-right: 15vw;
    width: 70vw;
}

.accent1 {
    color: $accent1;
}

.accent2 {
    color: $accent2;
}

main.wide {
    margin-left: 15vw;
    margin-right: 15vw;
    width: 70vw;
}
