.blog_post
  .title
    h1 ="#{@post.get_name}"
    h4 ="#{@post.get_upload_date}"
    p
      | Really, why would anyone create a personal website? If you happen to be
        a person with some sort of online following it makes a lot of sense.
        Another reason would be as a job portfolio when looking for jobs in web
        dev. Am I currently interested in any of that? Not really. I'm doing
        this as a way to record my thoughts for me (and possibly someone else)
        to look back at in order to see how my view has changed on all kinds of
        subjects.

    p
      | The obvious idea that springs to mind is to create a social media
        account and record my ramblings there. For some reason that doesn't
        appeal to me one bit. It might be the free software enthusiast in me, it
        could be a desire to avoid unintersted people from seeing my posts or it
        may just be that I just felt an urge to do some full stack development.
        Most likely it's a combination of all three and what really matters is
        that I felt like writing my own website, so I did.

    p
      | What are my blog posts going to be about? I'm actually not totally sure
        about that either. What I can say for certain is that it'll be about
        anything and everything that crosses my mind. The most frequent topics
        will most likely be free software, programming (C, Haskell, Ruby and
        Python), physics and mathematics since those are my biggest interests at
        the moment.

    p
      | Anyways, this has been rambly enough. Hopefully I'll write about something more interesting soon.

    p
      ' By
      span.accent1 Vincent Udén
